.articles {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 768px) {
    .articles {
        grid-template-columns: repeat(3, 1fr);
    }
}

.section {
    margin: 2rem 0;
}