.container {
    margin: 1rem 0 2rem 0;
}

.button {
    background-color: #fff;
    border: 2px solid #E61F00;
    border-radius: 8px;
    display: inline-block;
    font-size: 0.875rem;
    margin-right: 1rem;
    padding: 0.75rem;
    transition: background-color 250ms ease-in, color 250ms ease-in;
}

.button:hover,
.button:focus {
    background-color: #E61F00;
    color: #fff;
}